.todo-template {
  max-width: 512px;
  margin: 6rem auto 0;
  border-radius: 4px;
}

.app-tit {
  padding: 0.6em 0;
  color: #fff;
  background-color: #22b8cf;
  text-align: center;
}

.content {
  background-color: #fff;
}